<%= link_to "< back to admin", blog_admin_index_path %>

<h1>Update blog post</h1>

<%= form_for @post, :url => blog_admin_update_path do |f| -%>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:

			<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
  <p><%= f.label :title %><br />
  <%= f.text_field :title %></p>

	<p><%= f.label :author_id, "Author" %><br />
	<%= f.select :author_id, Author.all.map { |a| [a.name, a.id] }, :selected => current_user.id %></p>
	
	<p><%= f.label :category_id, "Category" %><br />
	<%= f.select :category_id, Category.all.map { |a| [a.name, a.id] } %></p>
	
	<p><%= f.label :content %><br />
	<%= f.text_area :content, :size => "100x25" %></p>

	<%= f.submit "Submit", :disable_with => 'Saving...' %>
<% end -%>
