<h1>Blog Admin</h1>
<p><%= link_to "New post", blog_admin_new_path %> &middot; <%= link_to "Logout", logout_path %></p>

<ul>
<% for post in @posts %>
  <li><%= link_to post.title, post %> (<%= link_to "edit", blog_admin_edit_path(post) %> &middot; <%= link_to "delete", blog_admin_destroy_path(post), :confirm => "Are you sure you want to delete this blog post? This cannot be undone.", :method => :delete %>)</li>
<% end %>
</ul>

<%= paginate @posts %>