<div id="banner" class="ir">Your idea is your passion. Our passion is turning your idea into reality.</div>
<h2 id="tagline" class="ir">We make magnificient apps (web + mobile).</h2>
<section id="left">
	<p><strong class="big_green">We&rsquo;re engineers and entrepreneurs.</strong> We understand the web.
	We understand mobile. We understand the buinsess behind both. If you have
	an amazing idea, but don&rsquo;t know how to bring it to market, we can help.
	We can take your idea and make it a reality. We can help you build a sustainable
	business. We can help you understand your market. We can help you create
	brilliant, winning strategies. We&rsquo;re your technology partner. We innovate.
	We stay on the cutting edge. We adapt. We&rsquo;re rapid. We believe technology
	should be simple and beautiful but powerful and efficient. <strong class="big_green">We exist at
	the intersection of technology and usability.</strong></p>
	<h3 id="sayhello">Say <a href="mailto:hello@newaperio.com">hello@newaperio.com</a> to see how we can help you today!</h3>
	<p>Do you need a web app? How about the next great iPhone game?
	Or what about an Android tablet app? What&rsquo;s your monetization strategy?
	What&rsquo;s your branding? How do you capture that first customer, and then
	many more? How do you leverage social media? Can you get press
	coverage? Do you need investors? Our process can help you identify the
	real potential behind your idea, optimize your idea for potential roadblocks,
	and plan for future growth. <strong class="big_green">We can help you answer these
	questions, and more.</strong></p>
</section><!-- #left -->
<section id="right">
	<header>
		<h3>From the blog</h3>
		<h4>Read our words, understand our mind.</h4>
	</header>
	<% if !@posts.blank? %>
	  <% for post in @posts %>
		<article>
			<header>
				<h5><%= link_to post.title, post %></h5>
				<div class="meta"><time datetime="<%= post.updated_at %>" pubdate><%= post.updated_at.to_s(:short) %></time> &mdash; <%= pluralize(post.comments.count,"comment") %></div>
			</header>
			<p><%= sanitize(textilize(coderay(truncate(post.content, :length => 150)))) %></p>
			<% if post.content.length > 150 %><p><%= link_to "Continued", post %></p><% end %>
		</article>
	  <% end %>
	<% else %>
	  <article>
			<header>
				<h5>Coming Soon</h5>
			</header>
		</article>
	<% end %>	
</section><!-- #right -->