<% for post in @posts %>
<article class="post">
	<header>
		<h2><%= link_to post.title, post %></h2>
		<div class="meta">by <%= post.author.name %> on <time datetime="<%= post.updated_at %>" pubdate><%= post.updated_at.to_s(:short) %></time> with <%= pluralize(post.comments.count,"comment") %></div>
	</header>
	<p><%= textilize(post.content) %></p>
</article>
<% end %>

<%= paginate @posts %>