<p>This cleverly titled blog is authored by NewAperio, a web and mobile development collective in Baton Rouge. We write about programming, design and entrepreneurship. Read more <%= link_to "about us", about_path %>.</p>

<p>To keep up, <a href="http://twitter.com/newaperio" title="Follow NewAperio on Twitter">follow us on Twitter</a> or <%= link_to "subscribe via RSS", feed_post_index_path("rss") %>.</p>

<h3>Categories</h3>
<ul>
  <% for category in Category.all %>
    <li><%= link_to category.name, category_post_index_path(category) %></li>
  <% end %>
</ul>

<%= form_tag(search_post_index_path, :method => "get") do %>
  <%= search_field_tag(:term, nil, :placeholder => "Search") %>
<% end %>